@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../fonts/valkenregular.ttf");
}

figure.cardapio figcaption h2 {
    display: none;
}

figure.cardapio {
    position: relative;
    margin: 10px auto 15px auto;
    width: 800px;
    height: 617px;
    border: 5px solid #dbf0f0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
}

figure.cardapio img#cardapio-frente {
    float: left;
}

figure.cardapio img#cardapio-verso {
    float: right;
}