@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../fonts/valkenregular.ttf");
}

div#localizacao h1 {
    font-family: 'FonteLogo', sans-serif;
    color: #3e8e8e;
    font-weight: lighter;
    font-size: 16pt;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 8px;
}

div#localizacao h2 {
    font-family: Arial, sans-serif;
    color: #606060;
    font-size: 10pt;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 8px;
}